/* ==UserStyle==
@name         anilist-css-tweaks
@namespace    https://github.com/Matewoo/anilist-css-tweaks
@version      0.1.6
@description  Small changes for anilist, like removing the scrollbar on profile pages.
@author       Matewoo
==/UserStyle== */
@-moz-document domain("anilist.co") {
    .about .content-wrap::-webkit-scrollbar {
        display: none
    }

    .content-wrap {
        scrollbar-width: none;
    }

    .about .content-wrap[data-v-5c30286e] {
        border-radius: 20px;
    }

    .desktop .activity-history[data-v-b79eb0f0] {
        border-radius: 20px;
    }

    .favourites-wrap[data-v-ddf96a3c] {
        border-radius: 20px;
    }

    .overview[data-v-5c30286e] {
        margin-top: 20px
    }
}
